{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "helpers": true,
                "regenerator": true
            }
        ],
        [
            "module-resolver",
            {
              "root": [
                "."
              ],
              "alias": {
                "_constants": "./src/_constants",
                "services": "./src/services",
                "methods": "./src/methods",
                "utils": "./src/utils"
              }
            }
          ]
    ]
}